* {
  color: white;
}

.Projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* column-gap: 10em; */
  /* margin: 2rem; */

}

p{
  font-size: 1vw;
}

p>ul{
  list-style: none;
}
p>ul>li{
  font-size: 1.2vw;
}

.badge {
  font-size: 1vw;
  font-style: normal;
  background-color: #3f3f3f;
  padding: 3px 6px;
  border-radius: 7px;
  line-height: 2rem;
}


h2{
  font-size: 2vw;
}

.project-list{
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}


a{
  text-decoration: none;
}