
.Project{
    width: 38rem;
   text-align: left;
    background-color: #191b1f;
    padding: 0.5rem;
    border-radius: 5px;
}

.Project:hover{
    /* width: 39rem; */
    background-color: #DF2029;
    transition: 0.5s all ease;
}

.Project:hover .languages i{
    border: 1px solid white;
    transition: 0.5s all ease;
}

h3{
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}

h3 span{
    color: #acafb3;
    font-size: 0.9vw;
}

p{
    padding: 0.2rem;
}

.languages{
    display: flex;
 column-gap: 0.5rem;
 margin-top: 0.5rem;
}

.languages >i {
    display: block;
    font-size: 0.7vw;
    font-style: normal;
    background-color: transparent;
    padding: 3px 6px;
    border-radius: 7px;
    border: 1px solid #DF2029;
  }